{% block form_row %}
    <div class="form-group row">
        <div class="col-4">
            {{ form_label(form) }}
        </div>
        <div class="col-8">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}

{%- block button_row -%}
    2341234123
{%- endblock button_row -%}

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
<input type="submit" class="btn" value="Create"/>
{{ block(button_row) }}
{{ form_end(form) }}

