{% set time = month|date("U") %}
{% if userWatchedEpisodes is defined %}
<button title="{{ userWatchedEpisodes|length }}" data-toggle="tooltip" class="showhide btn btn-default"><i
        class="fa fa-eye" aria-hidden="true"></i> {{ 'calendar.watched'|trans }}</button>{% endif %}
{% if userCalendarShowArchived is defined and userCalendarShowArchived != false %}
<button class='btn legend-icon legend-archived alert-danger' id=hide_archived data-toggle="tooltip"
        title='{{ 'calendar.show/hide archived shows'|trans }}'><i class="fa fa-eye" aria-hidden="true"></i>
    </button>{% endif %}
{% if userCalendarShowWatchlater is defined and userCalendarShowWatchlater != false %}
<button class="btn legend-icon legend-watchlater alert-success" id="hide_watchlater" data-toggle="tooltip"
        title='{{ 'calendar.show/hide watch later shows'|trans }}'><i class="fa fa-eye" aria-hidden="true"></i>
    </button>{% endif %}

<table class="table table-bordered table-striped calendar">
    <thead>
    <tr>
        <th colspan="7" class="center month-nav">
            {{ time|date('Y') }} {{ ('calendar.'~time|date('F'))|trans }}
        </th>
    </tr>
    <tr class="weekdays">
        <th>{{ 'calendar.Monday'|trans }}</th>
        <th>{{ 'calendar.Tuesday'|trans }}</th>
        <th>{{ 'calendar.Wednesday'|trans }}</th>
        <th>{{ 'calendar.Thursday'|trans }}</th>
        <th>{{ 'calendar.Friday'|trans }}</th>
        <th>{{ 'calendar.Saturday'|trans }}</th>
        <th>{{ 'calendar.Sunday'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% set dayOfTheWeek = 0 %}
        {% for day in days %}
        {% set currentDay = day|date('Y-m-d') %}
        {% if dayOfTheWeek == 7 %}
    </tr>
    <tr>
        {% set dayOfTheWeek = 0 %}
        {% endif %}
        {% set dayOfTheWeek = dayOfTheWeek + 1 %}
        <td class="{% if day=="now"|date('Y-m-d') %} current-day border-primary{% endif %}{% if episodes[day] is defined %} exists{% endif %}">
            {% if episodes[day] is defined %}
                {% for episode in episodes[day] %}
                    {% if app.user.username is defined %}
                        <div class="episode{{ episode|class }} episode-copy" data-episode="{{ episode.showName }} S{{ '%02d'|format(episode.season) }}E{{ '%02d'|format(episode.episode) }}">
                            {% include '_inc/episode-details-time.html.twig' with {episode: episode} %}
                            <a href="{{ url('shows_details',{'userShowId': episode.userShowId}) }}"
                               title="{{ episode.name }}">{{ episode.showName }}</a>
                        </div>
                    {% else %}
                        <div class="episode">
                            {% include '_inc/episode-details-time.html.twig' with {episode: episode} %}
                            <span title="{{ episode.name }}">{{ episode.showName }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <span class="dayoftheweek">{{ day }} {{ ('calendar.'~currentDay|date('l'))|trans }}</span>
            <span class="day">{{ currentDay|date('d') }}</span>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
