{{ month }}
<br>
{{ now|date('Y-m-d H:i:s') }}
<br>
{{ tz }}
<br>

{% set time = month|date("U") %}
{% if userWatchedEpisodes is defined %}
<button title="{{ userWatchedEpisodes|length }}" data-toggle="tooltip" class="showhide btn btn-default"><i
        class="fa fa-eye" aria-hidden="true"></i> {{ 'calendar.watched'|trans }}</button>{% endif %}
{% if userCalendarShowArchived is defined and userCalendarShowArchived != false %}
<button class='btn legend-icon legend-archived alert-danger' id=hide_archived data-toggle="tooltip"
        title='{{ 'calendar.show/hide archived shows'|trans }}'><i class="fa fa-eye" aria-hidden="true"></i>
    </button>{% endif %}
{% if userCalendarShowWatchlater is defined and userCalendarShowWatchlater != false %}
<button class="btn legend-icon legend-watchlater alert-success" id="hide_watchlater" data-toggle="tooltip"
        title='{{ 'calendar.show/hide watch later shows'|trans }}'><i class="fa fa-eye" aria-hidden="true"></i>
    </button>{% endif %}

<table class="table table-bordered table-striped calendar">
    <thead>
    <tr>
        <th colspan="7" class="center month-nav">
            {{ time|date('Y') }} {{ ('calendar.'~time|date('F'))|trans }}
        </th>
    </tr>
    <tr class="weekdays">
        <th width="15%">{{ 'calendar.Monday'|trans }}</th>
        <th width="15%">{{ 'calendar.Tuesday'|trans }}</th>
        <th width="14%">{{ 'calendar.Wednesday'|trans }}</th>
        <th width="14%">{{ 'calendar.Thursday'|trans }}</th>
        <th width="14%">{{ 'calendar.Friday'|trans }}</th>
        <th width="14%">{{ 'calendar.Saturday'|trans }}</th>
        <th width="14%">{{ 'calendar.Sunday'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% set daysInMonth = time|date('t')
        %}{% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1
        %}{% set dow = startDow
        %}{% for day in range(1,daysInMonth)
        %}{% set currentDay = time|date('Y-m') ~ '-' ~ '%02d'|format(day)
        %}{% if loop.first and startDow != 0 %}
        <td colspan="{{ startDow }}"></td>{% endif
        %}{% set break = false %}
        <td class="day {% for episode in episodes if break == false %}{% if episode.userAirstamp|slice(0, 10) == currentDay %}exists{% set break = true %}{% endif %}{% endfor %}{% if currentDay=="now"|date('Y-m-d') %} current-day alert-info{% endif %}">
            <div class="inner">{% for episode in episodes %}{% if episode.userAirstamp|slice(0, 10) == currentDay %}
                <div class="episode {% if userWatchedEpisodes is defined and episode.episodeID in userWatchedEpisodes %}watched{% endif %}">
                    <span data-toggle="tooltip" title="{{ 'airdate'|trans }} {{ episode.airstamp|dateTimezone }}">{{ episode.userAirstamp|dateTimezone }}</span>

                    {% include '_inc/episode-details.html.twig' with {episode: episode} %}

                    <a href="{{ url('shows_details',{'showId': episode.showId}) }}">{{ episode.showName }}</a>
                    </div>{% endif %}{% endfor %}
            </div>

            <span class="dayoftheweek">{{ currentDay|date('Y-m-d') }} {{ ('calendar.'~currentDay|date('l'))|trans }}</span>
            <span class="day">{{ day }}</span></div>
        </td>
        {% if loop.last and dow != 6 %}
            <td colspan="{{ 6 - dow }}">&nbsp;</td>
        {% endif %}{% if dow == 6 %}{% set dow = 0 %}
    </tr>
    <tr>
        {% else %}
            {% set dow = dow + 1 %}
        {% endif %}{% endfor %}
    </tr>
    </tbody>
</table>


