{% extends 'base.html.twig' %}

{% block title %}{{ 'change_password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'change_password'|trans }}</h1>

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword) }}

        <button class="btn btn-primary">{{ 'change_password'|trans }}</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
