{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.register'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'menu.register'|trans }}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}

    <button class="btn btn-primary">{{  'menu.register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
