{% block body %}
    <b><a href={{ path('shows_details', {userShowId: show.userShowId}) }}
       title="{{ show.watched }}" class="show-title">{{ show.name }}</a></b> {{ ('show.'~show.status)|trans }}

    <button class="btn btn-sm m-1 float-right" onclick="$('.show-actions').toggleClass('d-none')">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="show-actions float-right d-none">
        {% include 'shows/actions.html.twig'
            with
            {'show': show, 'status': show.userShowStatus, 'unwatched': show.episodesCount-show.watched} %}
    </div>
    {{ show.summary|raw }}<br>
    {% for episode in episodes %}
        <div class="row episode" id="{{ episode.id }}" data-show-id="{{ show.id }}">
            <div class="col-lg-3 col-12">
                {% include '_inc/episode-details.html.twig' with {episode: episode} %}
            </div>
            <div class="col-lg-5 col-12">
                <h6>{{ episode.name }}</h6>
                {{ episode.summary|raw }}
            </div>
            <div class="col-lg-4 col-12 actions">
                {% include 'form/episode-actions.html.twig' with {episode: episode} %}<br>
            </div>
        </div>
    {% endfor %}

    {% if nextEpisode %}
    <h6>{{ 'show.Next episode'|trans }}</h6>
    <div class="row" id="{{ nextEpisode.id }}" data-show-id="{{ show.id }}">
        <div class="col-lg-3 col-12">
            {% include '_inc/episode-details.html.twig' with {episode: nextEpisode} %}
        </div>
        <div class="col-lg-5 col-12">
            <h6>{{ nextEpisode.name }}</h6>
            {{ nextEpisode.summary|raw }}
        </div>
    </div>
    {% endif %}
{% endblock %}
