{% block body %}
    <b>{{ show.name }}</b>{{ show.watched }}<br>
    {{ show.summary|raw }}<br>
    {{ show.status }}
    {% for episode in episodes %}
        <div class="row" id="{{ episode.id }}" data-show-id="{{ show.id }}">
            <div class="col-3">
                {% include '_inc/episode-details.html.twig' with {episode: episode} %}
            </div>
            <div class="col-5">
                <h6>{{ episode.name }}</h6>
                {{ episode.summary|raw }}
            </div>
            <div class="col-4">
                {% include 'form/episode-actions.html.twig' with {episode: episode} %}<br>
            </div>
        </div>
    {% endfor %}
{% endblock %}
