{% block body %}
    <a href={{ path('shows_details', {userShowId: show.userShowId}) }} title="{{ show.watched }}">{{ show.name }}</a><br>
    {{ show.summary|raw }}<br>
    {{ show.status }}
    {% for episode in episodes %}
        <div class="row" id="{{ episode.id }}" data-show-id="{{ show.id }}">
            <div class="col-lg-3 col-sm-5 col-xs-12">
                {% include '_inc/episode-details.html.twig' with {episode: episode} %}
            </div>
            <div class="col-lg-5 d-none d-lg-inline-block">
                <h6>{{ episode.name }}</h6>
                {{ episode.summary|raw }}
            </div>
            <div class="col-lg-4 col-sm-7 col-xs-12">
                {% include 'form/episode-actions.html.twig' with {episode: episode} %}<br>
            </div>
        </div>
    {% endfor %}
{% endblock %}
