{% extends 'base.html.twig' %}

{% block body %}
    {% for episode in episodes %}
        {% include '_inc/episode-details.html.twig' with {episode: episode} %} <b>{{ episode.showName }}</b>
    {% endfor %}
    <br>
    <button class="btn btn-secondary m-1"
            onclick="$('.unwatched-shows').slideToggle()">{{ 'show.Hide/Show'|trans }}</button>
    <div class="text-center unwatched-shows">
        {% for show in shows %}
            <div id="show_{{ show.id }}" data-id="{{ show.userShowId }}"
                 class="unwatched-show">
            <img src="/img/shows/medium/{{ show.id }}.jpg" class="w-100" alt="{{ show.name }}">
                {{ show.name }}
                <span class="count">{{ show.episodes }}</span>
            </div>
        {% endfor %}
    </div>
    <div id="result" class="unwatched-episodes"></div>
{% endblock %}
