{% extends 'base.html.twig' %}

{% block body %}
    <button class="btn btn-secondary m-1"
            onclick="$('.unwatched-shows').slideToggle()">{{ 'show.Hide/Show'|trans }}</button>
    <div class="text-center unwatched-shows">
        {% for show in shows %}
            <div id="show_{{ show.id }}" data-id="{{ show.userShowId }}"
                 class="col-lg-1 col-md-2 col-sm-3 px-0 mx-1 align-top unwatched-show unwatched-episodes">
            <img src="/img/shows/medium/{{ show.id }}.jpg" class="w-100" alt="{{ show.name }}">
                {{ show.name }}
                <span class="count">{{ show.episodes }}</span>
            </div>
        {% endfor %}
    </div>
    <div id="result"></div>
{% endblock %}
