<button data-toggle="modal" data-target="#show-settings"
        class="btn btn-warning btn-sm show-settings m-1"
        data-user-show-id="{{ show.userShowId }}"
        data-title="{{ show.name }}"
        data-offset="{{ show.offset }}"
        title="{{ 'show.offset (hours to add) 0 to use default'|trans }}">
    <i class="fa fa-clock" aria-hidden="true"></i>
</button>
{% if status != constant('App\\Entity\\UserShow::STATUS_WATCHING') %}
    <button class="btn btn-success m-1 btn-sm" data-user-show-id="{{ show.userShowId }}"
            data-action="{{ path('shows_restore', {userShowId: show.userShowId}) }}" data-remove="true"
            data-toggle="modal" title="{{ 'show.restore show (add to watching)'|trans }}"
            data-text="{{ 'show.restore show (add to watching)'|trans }} <b>{{ show.name }}</b>" data-target="#confirm">
        <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
{% endif %}
{% if status != constant('App\\Entity\\UserShow::STATUS_ARCHIVED') %}
    <button class="btn btn-secondary btn-sm m-1" data-user-show-id="{{ show.userShowId }}" data-remove="true"
            data-action="{{ path('shows_archive', {userShowId: show.userShowId}) }}"
            data-toggle="modal" title="{{ 'show.archive show'|trans }}"
            data-text="{{ 'show.archive show'|trans }} <b>{{ show.name }}</b>" data-target="#confirm">
        <i class="fa fa-archive" aria-hidden="true"></i>
    </button>
{% endif %}
{% if status != constant('App\\Entity\\UserShow::STATUS_WATCH_LATER') %}
    <button class="btn btn-secondary btn-sm m-1" data-user-show-id="{{ show.userShowId }}" data-remove="true"
            data-action="{{ path('shows_watch_later', {userShowId: show.userShowId}) }}"
            data-toggle="modal" title="{{ 'show.watch later'|trans }}"
            data-text="{{ 'show.watch later'|trans }} <b>{{ show.name }}</b>" data-target="#confirm">
        <i class="fa fa-tasks" aria-hidden="true"></i>
    </button>
{% endif %}
<button class="btn btn-danger m-1 btn-sm" data-user-show-id="{{ show.userShowId }}"
        data-action="{{ path('shows_remove', {userShowId: show.userShowId}) }}" data-remove="true" data-hide="true"
        data-toggle="modal" title="{{ 'show.remove show'|trans }}"
        data-text="{{ 'show.remove show'|trans }} <b>{{ show.name }}</b>" data-target="#confirm">
    <i class="fa fa-trash" aria-hidden="true"></i>
</button>

{% if unwatched > 0 %}
<button class="btn btn-danger m-1 btn-sm" data-user-show-id="{{ show.userShowId }}"
        data-action="{{ path('shows_watch_all', {userShowId: show.userShowId}) }}"
        data-toggle="modal" title="{{ 'show.check all episodes as watched'|trans }}" data-watch-all="true"
        data-text="{{ 'show.check all episodes as watched'|trans }} <b>{{ show.name }}</b>" data-target="#confirm">
    <i class="fa fa-eye" aria-hidden="true"></i>
</button>
{% endif %}
