{% extends 'base.html.twig' %}

{% block body %}
    {{ shows|length }}
    <div class="row">
        <div class="d-none col-3 d-md-inline-block">
            {{ 'show.show'|trans }}
        </div>
        <div class="d-none col-3 d-md-inline-block">
            {{ 'show.Previous Episode'|trans }}
        </div>
        <div class="d-none col-3 d-md-inline-block">
            {{ 'show.Next Episode'|trans }}
        </div>
        <div class="d-none col-3 d-md-inline-block">
            {{ 'show.Actions'|trans }}
        </div>
    </div>

    {% set showstatus = null %}
    {% for show in shows %}
        {% if (showstatus != show.status) %}
            {% set showstatus = show.status %}
            <div class="col-12">
                <h4>{{ ('show.'~show.status)|trans }}</h4>
            </div>
        {% endif %}
        <div id="{{ show.userShowId }}" class="show row py-1 border-bottom">
            <div class="col-12 col-md-3">
                <a href="{{ path('shows_details', {'userShowId': show.userShowId}) }}">
                    {{ show.name }} ({{ show.episodesCount-show.watchedCount }})
                </a>
            </div>
            <div class="col-12 col-md-3">
                {% if show.lastEpisode %}
                    <b>{{ show.lastEpisode.name }}</b><br>
                    {% include '_inc/episode-details.html.twig' with {episode: show.lastEpisode} %}
                {% endif %}
            </div>
            <div class="col-12 col-md-3">
                {% if show.nextEpisode %}
                    <b>{{ show.nextEpisode.name }}</b><br>
                    {% include '_inc/episode-details.html.twig' with {episode: show.nextEpisode} %}
                {% endif %}
            </div>
            <div class="col-12 col-md-3">
                <button data-toggle="modal" data-target="#show-settings"
                        class="btn btn-warning btn-sm show-settings m-1"
                        data-user-show-id="{{ show.userShowId }}"
                        data-title="{{ show.name }}"
                        data-offset="{{ show.offset }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
            {% include 'shows/actions.html.twig' with {'show': show, 'status': status} %}
            </div>
        </div>
    {% endfor %}
    {% include 'modals/show-settings.html.twig' %}
{% endblock %}
