{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src="/img/shows/{{ userShow.id }}.jpg" class="show-image" alt="{{ userShow.name }}"><br>
    </div>
    <h3 title="{{ userShow.watched }}">{{ userShow.name }}</h3>
    {{ userShow.summary|raw }}<br>

    <button data-toggle="modal" data-target="#show-settings"
            class="btn btn-warning btn-sm show-settings m-1"
            data-user-show-id="{{ userShow.userShowId }}"
            data-title="{{ userShow.name }}"
            data-offset="{{ userShow.offset }}">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </button>

    {% include 'shows/actions.html.twig' with {'show': userShow, 'status': userShow.status} %}

    {% for episode in episodes %}
        <div id="{{ episode.id }}" class="row">
            <div class="col-lg-3 col-sm-12">{% include '_inc/episode-details.html.twig' with {episode: episode} %}</div>
            <div class="col-lg-5 col-sm-4">{{ episode.summary|raw }}</div>
            <div class="col-lg-4 col-sm-8">{% include 'form/episode-actions.html.twig' with {episode: episode} %}</div>
        </div>
    {% endfor %}
    {% include 'modals/show-settings.html.twig' %}
{% endblock %}
