{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src="/img/shows/{{ userShow.id }}.jpg" class="show-image" alt="{{ userShow.name }}"><br>
    </div>
    <h3 title="{{ 'watched'|trans }}: {{ userShow.watched }}, {{ 'rating'|trans }}: {{ userShow.rating }}" class="show-details-title">{{ userShow.name }}</h3>
    {{ userShow.summary|raw }}<br>

    <div class="show-actions">
    {%
        include 'shows/actions.html.twig'
        with
        {'show': userShow, 'status': userShow.userShowStatus, 'unwatched': userShow.episodesCount - userShow.watched}
    %}
    </div>

    {% for episode in episodes %}
        <div id="{{ episode.id }}" class="row">
            <div
                    id="episode{{ episode.id }}"
                    class="episode-copy col-lg-3 col-12"
                    data-episode="{{ userShow.name }} S{{ '%02d'|format(episode.season) }}E{{ '%02d'|format(episode.episode) }}"
            >
                {% include '_inc/episode-details.html.twig' with {episode: episode} %}
            </div>
            <div class="col-lg-5 col-12"><h6>{{ episode.name }}</h6>{{ episode.summary|raw }}</div>
            <div class="col-lg-4 col-12">{% include 'form/episode-actions.html.twig' with {episode: episode} %}</div>
        </div>
    {% endfor %}
    {% if episodes|length == 100 %}<br>
        <a href="{{ path('shows_details', {'userShowId': userShow.userShowId, 'limit': 0}) }}" class="btn btn-success">
            {{ 'unlimited'|trans }}
        </a>
    {% endif %}
{% endblock %}
