{% extends 'base.html.twig' %}

{% block body %}
    {{ show.show.name }}

    {% for episode in episodes %}
       <div id="{{ episode.id }}"> {{ episode.season }} {{ episode.episode }} {{ episode.userAirstamp|dateTimezone }} {{ episode.airstamp|dateTimezone }} {{ episode.summary|raw }} {% include 'form/episode-actions.html.twig' with {episode: episode} %}</div>
    {% endfor %}
{% endblock %}
