<span title="{{ 'airdate'|trans }} {{ episode.airstamp|dateTimezone }}">{{ episode.userAirstamp|dateTimezone|slice(11, 15) }}</span>
<span title="{{ 'duration'|trans }} {{ episode.duration }} {{ 'min'|trans }}">
    <b>S{{ '%02d'|format(episode.season) }}E{{ '%02d'|format(episode.episode) }}</b>
</span>