<span data-tooltip="true" title="{{ 'airdate'|trans }} {{ episode.airstamp|dateTimezone }}">{{ episode.userAirstamp|dateTimezone }}</span>
<span class="episode" title="{{ 'duration'|trans }} {{ episode.duration }} {{ 'min'|trans }}"></span>
<b>S{{ '%02d'|format(episode.season) }}E{{ '%02d'|format(episode.episode) }}</b>