{% extends 'base.html.twig' %}

{% block body %}
    {% if shows|length == 0 %}
        {{ 'no_results'|trans }}
    {% else %}
        {{ 'Search results for'|trans }}
    {% endif %}
    <b>{{ term }}</b>

    {% for show in shows %}
        <div class="p-1 border-bottom">
            <b>{{ show.name }}</b> {{ ('show.'~show.status)|trans }} {% if (show.premiered) %}({{ show.premiered }}) {% endif %}

            {% if is_granted(['IS_AUTHENTICATED_FULLY', 'IS_AUTHENTICATED_REMEMBERED']) %}
                {% if userShows[show.id] is defined %}
                    <button class="btn btn-danger add-show" data-id="{{ show.id }}">{{ 'add_rewatch'|trans }}</button>
                    {{ constant('App\\Entity\\UserShow::STATUS')[userShows[show.id]]|trans  }}
                {% else %}
                    <button class="btn btn-success add-show" data-id="{{ show.id }}">{{ 'add'|trans }}</button>
                {% endif %}
            {% endif %}
            {% if show.summary and show.summary != 'NULL' %}<br>{{ show.summary|raw }} {% endif %}
        </div>
    {% endfor %}
{% endblock %}
