{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/stream-style.css') }}">
    <script src="{{ asset('build/stream.js') }}"></script>
    <div class='video'></div>
    <div id="video-block">
        <div class='navigation prev'>&#171;</div>
        <div class='navigation next'>&#187;</div>
        <video id="video-area" controls="controls" poster="" src=""></video>
    </div>
    <ul id="playlist">
        {% for file in files %}
            <li class='videoList' data-movie-url="{{ file.name }}">{{ file.date }} <b>{{ file.name }}</b></li>
        {% endfor %}
    </ul>
{% endblock %}
