<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shows v3</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.baseUrl = '{{ path('home') }}';
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Shows v3</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Sample</a>
                </li>
                <li class="nav-item">
                    {{ render(controller('App\\Controller\\SearchController::searchForm')) }}
                </li>
                {% if app.user.username is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('unwatched') }}">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{ 'menu.unwatched'|trans }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container p-1">
    {% block body %}{% endblock %}
</div>
</body>
</html>
