<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shows v3</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.baseUrl = '{{ path('unwatched_index') }}';
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Shows v3</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% include 'form/search.html.twig' %}
                </li>
                {% if app.user.username is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('unwatched_index') }}">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{ 'menu.unwatched'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_index') }}">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ 'menu.calendar'|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-film" aria-hidden="true"></i> {{ 'menu.shows'|trans }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="nav-link" href="{{ path('shows_index') }}">
                                {{ 'menu.watching'|trans }}
                            </a>
                            <a class="nav-link" href="{{ path('shows_index', {'status': constant('App\\Entity\\UserShow::STATUS_ARCHIVED')}) }}">
                                {{ 'menu.archived'|trans }}
                            </a>
                            <a class="nav-link" href="{{ path('shows_index', {'status': constant('App\\Entity\\UserShow::STATUS_WATCH_LATER')}) }}">
                                {{ 'menu.watchlater'|trans }}
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_settings') }}">{{ 'menu.settings'|trans }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'|trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'menu.register'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'menu.login'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container p-1">
    {% block body %}{% endblock %}
</div>
{% include 'modals/confirm.html.twig' %}
<div class="overlay"></div>
</body>
</html>
