<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Episode Calendar">
    <meta name="keywords" content="TV Shows, episode calendar, episodes">
    <meta property="og:url" content="{{ url('unwatched_index') }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Episode Calendar"/>
    <meta property="og:description" content="TV Shows episode calendar"/>
    <meta property="og:image" content="{{ url('unwatched_index') }}img/logo.jpg"/>
    <title>Shows v3</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">

    {% if app.user.theme is defined and app.user.theme != '' %}
        <link rel="stylesheet" href="/css/themes/{{ app.user.theme }}.min.css">
    {% endif %}

    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.baseUrl = '{{ path('unwatched_index') }}';
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-none d-lg-block" href="{{ path('unwatched_index') }}">Shows v3</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if app.user.username is defined %}
        <div class="search-box">
            {% include 'form/search.html.twig' %}
        </div>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {% if app.user.username is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('unwatched_index') }}">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{ 'menu.unwatched'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_index') }}">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ 'menu.calendar'|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-film" aria-hidden="true"></i> {{ 'menu.shows'|trans }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('shows_index') }}">
                                {{ 'menu.watching'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('shows_index', {'status': constant('App\\Entity\\UserShow::STATUS_ARCHIVED')}) }}">
                                {{ 'menu.archived'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('shows_index', {'status': constant('App\\Entity\\UserShow::STATUS_WATCH_LATER')}) }}">
                                {{ 'menu.watchlater'|trans }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('shows_update_all') }}">
                                    {{ 'menu.update_all'|trans }}
                                </a>

                                <a class="dropdown-item" href="{{ path('dir') }}">
                                    <i class="fa fa-film" aria-hidden="true"></i> {{ 'menu.videos'|trans }}</a>

                            {% endif %}
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> {{ 'menu.user'|trans }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('user_settings') }}">{{ 'menu.settings'|trans }}</a>

                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'menu.change_password'|trans }}</a>
                            <a class="dropdown-item"
                               href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'|trans }}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_index') }}">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ 'menu.calendar'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'menu.register'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'menu.login'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container p-1">
    {% block body %}{% endblock %}
</div>
<footer class="footer bg-light text-dark">
    <div class="container">
        <span class="float-left">{{ 'source'|trans }} <a class="text-dark" href="http://www.tvmaze.com" target="_blank">TVmaze</a></span>
        <span class="float-right">
            <a class="text-dark" href="{{ path('feedback') }}">{{ 'feedback.feedback'|trans }}</a>
            <a class="text-dark" target="_blank" href="https://github.com/PetrasJ/shows_v3">github</a></span>
    </div>
</footer>
{% include 'modals/confirm.html.twig' %}
<div class="overlay">
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
</div>
<div id="back-to-top" style="" class="btn btn-primary">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
</body>
</html>
